
body {
    border: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

nav {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the list items horizontally */
}

nav li {
    margin: 0 15px; /* Add some spacing between list items */
}

nav a {
    text-decoration: none;
    color: white;
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Adjust the margin as needed */
}

.navbar-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-right: 20px;
    flex: 1;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar-nav .nav-item {
        width: 100%;
        margin-right: 40;
    }

    .navbar-nav .nav-item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar-nav .nav-item a span {
        display: none;
    }

    .navbar-nav .nav-item a img {
        max-width: 100%;
        height: auto;
    }
}
